# Core Web Scraping
playwright==1.55.0

# Database
sqlalchemy==2.0.41
aiomysql==0.3.2
greenlet==3.2.4
cryptography==45.0.3

# Utilities
python-dotenv==1.1.0
requests==2.32.3
tenacity==9.1.2

# Logging
structlog==25.5.0
